@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-header {
  height: 15vh;
  background-color: #F2C94C;
  margin-bottom: 20px;
}

.main-header h1 {
  text-align: center;
  padding-top: 5vh;
  color: white;
}

#text-input {
  display: block;
  width: 50%;
  margin: 30px auto;
  margin-top: 50px;
  padding: 15px;
}

.translate-btn {
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #F2C94C;
  padding: 20px 30px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#output-div {
  border: 1px solid black;
  height: 20vh;
  width: 50%;
  display: block;
  margin: 30px auto;
  padding: 15px;
}

#about {
  background-color: #F2C94C;
  color: white;

}

#about h2 {
  text-align: center;
  padding: 30px; 
}

.container {
  max-width: 500px;
  margin: 0px auto;
}

#about p {
  padding-bottom: 30px;
  text-align: center;
}